@id("description")
permit
(
 principal is MyStore::User::"Jans::Workload",
 action in [MyStore::Action::"PUT"],
 resource == MyStore::Application::"Jans::Issue"
)
;